.instructions {
    border: 1px solid darken($red, 10%);
    border-radius: 5px;
    margin-top: $lg;
    margin-bottom: $lg;
    padding: $sm $lg;
    background-color: black;
    background-size: cover;

    h1 {
        color: $off-white;
        font-size: $md;
        text-align: center;
    }
    li,p{
        color: white;
    }

    .lifeline {
        position: relative;
        top: -3px;
    }

    .lifeline-icon {
        color: $green;
        cursor: pointer;
    }

    .browser-default {
        padding-left: 30px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    img {
        width: 80%;
        height: 50%;
    }
    
    #ione{
        display:block;
        margin:auto
    }
    #tz{
        display:block;
        margin:auto;
        width: 30%;
        height: 30%;
    }
} 

@media (max-width: $md-breakpoint) {
    .instructions img {
        width: 100% !important;
        height: 150% !important;
    }
}